html, body {
    height: 100%;
    width: 100%;
    place-items: center;
    background-image: url('knife.jpg');
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  div{
    background: green;
    width: 500px;
    height: 10%;
    padding: 3px;
    border-radius: 8px;
  }

  h2{
    background: green;
  }
  p{
    font: italic;
  }
  